body {
  background-color: black;
  color:#5e5c56;
}

h1 {
  background-color: black;
  color:#c0cb7f;
}

h2 {
  background-color: black;
  color:#c0cb7f;
}

h3 {
  background-color: black;
  color:#c0cb7f;
}
h1 {
  font-family: Arial, Helvetica, sans-serif
}
h2 {
  font-family: Arial, Helvetica, sans-serif
}
h3 {
  font-family: Arial, Helvetica, sans-serif
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/* unvisited link */
a:link {
  color:#677f51;
}

/* visited link */
a:visited {
  color:#677f51
}

/* mouse over link */
a:hover {
  color: #677f51
}

/* selected link */
a:active {
  color: #677f51
}
li {
  list-style-type: square;
}

